<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <ul class="gNow" id="col1">
            <li>
                <div class="card">
                    <p class="card-title">{{timeoff.display}}</p>
                    <p class="url"><a href="http://www.google.com/landing/now/"><span class="ion-android-arrow-forward"></span>{{timeoff.title}}</a></p>
                </div>
            </li>
            <li>
                <div class="card">
                    <p class="card-title">{{paycheck.display}}</p>
                    <p class="url"><a href="#/tab/dash/paycheck"><span class="ion-android-arrow-forward"></span>{{paycheck.title}}</a></p>
                </div>
            </li>
            <li>
                <div class="card">
                    <p class="card-title">{{benefits.display}}</p>
                    <p class="url"><a href="#/tab/dash/benefits"><span class="ion-android-arrow-forward"></span>{{benefits.title}}</a></p>
                </div>
            </li>
        </ul>

    </ion-content>
</ion-view> 