<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <!--<div class="card">
      <div class="item item-text-wrap">
        12 available My Time days.
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        9 days until next pay day.
      </div>
      <div class="item item-divider">
        Click <a href="#">here</a> to reveal net pay
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        9 days until next pay day.
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        9 days until next pay day.
      </div>
    </div>-->

    <ul class="gNow" id="col1">
      <li>
        <div class="card">
          <p class="card-title">Title</p>
          <p>Font is Open Sans. Title is 28px, whereas the body is 14px.</p>
          <p>Font color is #444, on a #fff card. The page color is #e1e1e1. I got these from samples I took from Google's "Now"
            page.</p>
          <p class="url"><a href="http://www.google.com/landing/now/">See the page</a></p>
        </div>
      </li>
      <li>
        <div class="card">
          <p class="card-title">9 days until next pay day</p>
          <p>Click <a href="#">here</a> to reveal net pay</p>
        </div>
      </li>
      <li>
        <div class="card">
          <p class="card-title">12 available My Time days</p>
          <p>
            <a href="#"></a>
          </p>
        </div>
      </li>
    </ul>
    <ul class="gNow" id="col2">
      <li>
        <div class="card">
          <p class="card-title">Picture</p>
          <img src="http://www.eriklindemann.com/eMetro/images/full/helpless.jpg" class="full" />
          <p>When a card has a picture, it should almost always be full bleed width-wise.</p>
          <p>There are a few exceptions to this which will be covered.</p>
        </div>
      </li>
      </ul>
  </ion-content>
</ion-view>